<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Seleccion</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/seleccion.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<br>
<h1 align="center">Opciones</h1>
<div id="accordian">
	<ul>
		<li>
			<h3><span class="icon-dashboard"></span><li><a href="../seleccion/nuevoPedido">Crear pedido</a></h3>
			<h3><a href="../listado">Listar pedidos</a></h3>
			<h3><a href="../logout">Cerrar sesión</a></h3>
		</li>
	</ul>
</div>
